@font-face {
  font-family: 'open_sanslight';
  src: url("/fonts/OpenSans-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_regular';
  src: url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MaterialIcons-Regular.woff") format("woff"); }

* {
  box-sizing: border-box;
  outline: none; }

body, html {
  font-family: 'open_sanslight';
  color: #344c74;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #333; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  font-weight: normal; }

button {
  padding: 0.5em 3em;
  font-size: 0.9rem;
  border-radius: 3px; }

a {
  text-decoration: none;
  color: #39527b; }

.error {
  color: #ff7473; }

.icon {
  font-family: 'Material Icons';
  font-style: normal; }

header i.icon {
  font-size: 36px; }

span.bubble {
  position: absolute;
  border-radius: 50%;
  background: red;
  border: solid 2px pink;
  width: 20px;
  height: 20px;
  right: -6px;
  color: white;
  bottom: 0;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 17px;
  font-weight: bold; }

button[type='submit'], input[type='submit'] {
  padding: 0.5rem 1rem;
  color: white;
  background: #4C2A85;
  border: none;
  font-size: 1rem;
  font-family: 'open_regular'; }

input {
  background: #BCEDF6;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 5px 10px; }

button.close_button {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 2em;
  line-height: 0.8;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #DDFBD2; }

.full {
  width: 100%; }

.half {
  width: 50%; }

.third {
  width: 33%; }

.two_thirds {
  width: 66%; }

main {
  display: flex;
  flex-wrap: wrap; }

label.required:after {
  content: "*"; }

body.show_login div.login_popup {
  left: 0; }
  body.show_login div.login_popup > .overlay {
    opacity: 1; }

div.login_popup {
  transition-duration: 0.5s;
  width: 100vw;
  position: fixed;
  height: 100vh;
  left: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  div.login_popup > .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.3); }
  div.login_popup > .login_form_container {
    background: #320E3B;
    border-radius: 10px;
    position: relative;
    width: 280px;
    padding: 30px 20px 20px 20px;
    box-shadow: 1px 2px 6px #666; }
    div.login_popup > .login_form_container.error {
      animation: shake_login 0.82s; }
      div.login_popup > .login_form_container.error form#login_form span.error {
        max-height: 100px; }
  div.login_popup form#login_form {
    display: flex;
    flex-direction: column; }
    div.login_popup form#login_form span.error {
      transition-duration: 1s;
      max-height: 0;
      overflow: hidden; }
    div.login_popup form#login_form > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em; }
      div.login_popup form#login_form > div label {
        font-family: 'open_sanslight';
        color: #DDFBD2; }

@keyframes shake_login {
  10%, 90% {
    transform: translateX(-4px); }
  20%, 80% {
    transform: translateX(8px); }
  30%, 50%, 70% {
    transform: translateX(-8px); }
  40%, 60% {
    transform: translateX(8px); } }

canvas#preview {
  width: 90vw;
  margin: 5vw;
  border: solid 5px #CCC;
  border-radius: 3px; }

#preview_container {
  display: flex;
  justify-content: center;
  background: #999; }

div#camera_buttons {
  display: flex;
  margin: 0 10vw 0 10vw;
  width: 80vw;
  border-radius: 0 0 15px 15px; }
  div#camera_buttons button {
    border: none;
    background: #999;
    color: #666;
    font-size: 30px;
    padding: 10px 0 6px 0;
    flex-basis: 20%;
    line-height: 1;
    border-radius: 0;
    border: solid 1px #666;
    border-right: none; }
  div#camera_buttons button:first-child {
    border-radius: 0 0 0 15px; }
  div#camera_buttons button:last-child {
    border-radius: 0 0 15px 0;
    border-right: solid 1px #666; }
  div#camera_buttons button#record_button:after {
    content: "videocam"; }
  div#camera_buttons button#photo_button:after {
    content: "insert_photo"; }
  div#camera_buttons button#timelapse_button:after {
    content: "timelapse"; }
  div#camera_buttons button#motion_detect_button:after {
    content: "directions_run"; }
  div#camera_buttons button#power_button:after {
    content: "power_settings_new"; }
  div#camera_buttons button:after {
    font-family: "Material Icons";
    line-height: 1; }
  div#camera_buttons button.active {
    color: #344c74;
    text-shadow: 0 0 3px #344c74;
    background: #DDFBD2; }
  div#camera_buttons button.disable {
    opacity: 0.5;
    pointer-events: none; }

