@font-face {
  font-family: 'open_sanslight';
  src: url("/fonts/OpenSans-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_regular';
  src: url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MaterialIcons-Regular.woff") format("woff"); }

* {
  box-sizing: border-box;
  outline: none; }

body, html {
  font-family: 'open_sanslight';
  color: #344c74;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #333; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  font-weight: normal; }

button {
  padding: 0.5em 3em;
  font-size: 0.9rem;
  border-radius: 3px; }

a {
  text-decoration: none;
  color: #39527b; }

.error {
  color: #ff7473; }

.icon {
  font-family: 'Material Icons';
  font-style: normal; }

header i.icon {
  font-size: 36px; }

span.bubble {
  position: absolute;
  border-radius: 50%;
  background: red;
  border: solid 2px pink;
  width: 20px;
  height: 20px;
  right: -6px;
  color: white;
  bottom: 0;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 17px;
  font-weight: bold; }

button[type='submit'], input[type='submit'] {
  padding: 0.5rem 1rem;
  color: white;
  background: #4C2A85;
  border: none;
  font-size: 1rem;
  font-family: 'open_regular'; }

input {
  background: #BCEDF6;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 5px 10px; }

button.close_button {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 2em;
  line-height: 0.8;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #DDFBD2; }

.full {
  width: 100%; }

.half {
  width: 50%; }

.third {
  width: 33%; }

.two_thirds {
  width: 66%; }

main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }

div#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top right;
  filter: blur(5px); }

label.required:after {
  content: "*"; }

body.show_login div.login_popup {
  left: 0; }
  body.show_login div.login_popup > .overlay {
    opacity: 1; }

div.login_popup {
  transition-duration: 0.5s;
  width: 100vw;
  position: fixed;
  height: 100vh;
  left: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }
  div.login_popup > .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.3); }
  div.login_popup > .login_form_container {
    background: #320E3B;
    border-radius: 10px;
    position: relative;
    width: 280px;
    padding: 30px 20px 20px 20px;
    box-shadow: 1px 2px 6px #666; }
    div.login_popup > .login_form_container.error {
      animation: shake_login 0.82s; }
      div.login_popup > .login_form_container.error form#login_form span.error {
        max-height: 100px; }
  div.login_popup form#login_form {
    display: flex;
    flex-direction: column; }
    div.login_popup form#login_form span.error {
      transition-duration: 1s;
      max-height: 0;
      overflow: hidden; }
    div.login_popup form#login_form > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em; }
      div.login_popup form#login_form > div label {
        font-family: 'open_sanslight';
        color: #DDFBD2; }

@keyframes shake_login {
  10%, 90% {
    transform: translateX(-4px); }
  20%, 80% {
    transform: translateX(8px); }
  30%, 50%, 70% {
    transform: translateX(-8px); }
  40%, 60% {
    transform: translateX(8px); } }

canvas#preview {
  width: 100%; }

#preview_container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10; }

div#camera_buttons {
  display: flex;
  margin: 5vw 0;
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-evenly;
  z-index: 20; }
  div#camera_buttons button {
    background: #999;
    color: #666;
    font-size: 30px;
    padding: 10px 0 6px 0;
    width: 15vmin;
    height: 15vmin;
    line-height: 1;
    border-radius: 50%;
    border: solid 1px #666;
    border-right: none;
    box-shadow: 2px 2px 6px #666;
    text-shadow: 0 0 0 #666;
    transition-duration: 0.2s; }
  div#camera_buttons button#record_button:after {
    content: "videocam"; }
  div#camera_buttons button#photo_button:after {
    content: "insert_photo"; }
  div#camera_buttons button#timelapse_button:after {
    content: "timelapse"; }
  div#camera_buttons button#motion_detect_button:after {
    content: "directions_run"; }
  div#camera_buttons button#power_button:after {
    content: "power_settings_new"; }
  div#camera_buttons button:after {
    font-family: "Material Icons";
    line-height: 1; }
  div#camera_buttons button:active {
    color: #344c74;
    text-shadow: 0 0 3px #344c74;
    background: #DDFBD2; }

/* Set the state of every button */
main:not([data-status='halted']) div#camera_buttons button#power_button {
  color: #344c74;
  text-shadow: 0 0 3px #344c74;
  background: #DDFBD2;
  color: #344c74;
  text-shadow: 0 0 3px #344c74;
  background: #DDFBD2; }

main[data-status='halted'] div#camera_buttons button#record_button,
main[data-status='halted'] div#camera_buttons button#photo_button,
main[data-status='halted'] div#camera_buttons button#timelapse_button,
main[data-status='halted'] div#camera_buttons button#motion_detect_button {
  opacity: 0.5;
  pointer-events: none; }

main[data-status='md_ready'] div#camera_buttons button#record_button,
main[data-status='md_video'] div#camera_buttons button#record_button {
  opacity: 0.5;
  pointer-events: none; }

main[data-status='md_ready'] div#camera_buttons button#motion_detect_button,
main[data-status='md_video'] div#camera_buttons button#motion_detect_button {
  color: #344c74;
  text-shadow: 0 0 3px #344c74;
  background: #DDFBD2; }

main[data-status='tl_md_video'] div#camera_buttons button#record_button,
main[data-status='tl_md_ready'] div#camera_buttons button#record_button,
main[data-status='timelapse'] div#camera_buttons button#record_button {
  opacity: 0.5;
  pointer-events: none; }

main[data-status='tl_md_video'] div#camera_buttons button#timelapse_button,
main[data-status='tl_md_ready'] div#camera_buttons button#timelapse_button,
main[data-status='timelapse'] div#camera_buttons button#timelapse_button {
  color: #344c74;
  text-shadow: 0 0 3px #344c74;
  background: #DDFBD2; }

main[data-status='image'] div#camera_buttons button#record_button {
  opacity: 0.5;
  pointer-events: none; }

main[data-status='image'] div#camera_buttons button#photo_button {
  color: #344c74;
  text-shadow: 0 0 3px #344c74;
  background: #DDFBD2; }

main[data-status='video'] div#camera_buttons button#photo_button,
main[data-status='video'] div#camera_buttons button#timelapse_button,
main[data-status='video'] div#camera_buttons button#motion_detect_button {
  opacity: 0.5;
  pointer-events: none; }

main[data-status='video'] div#camera_buttons button#record_button {
  color: #344c74;
  text-shadow: 0 0 3px #344c74;
  background: #DDFBD2; }

div#top_buttons_container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 12;
  display: flex;
  justify-content: space-between; }
  div#top_buttons_container button#fullscreen_button {
    font-family: "Material Icons";
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    border: none;
    font-size: 7vmin;
    width: 12vmin;
    height: 12vmin; }
  div#top_buttons_container button#fullscreen_button:after {
    content: "fullscreen"; }
  div#top_buttons_container button#fullscreen_button:fullscreen:after,
  div#top_buttons_container button#fullscreen_button:-webkit-full-screen:after {
    content: "fullscreen_exit"; }
  div#top_buttons_container a#settings_button {
    background: rgba(255, 255, 255, 0.9);
    width: 12vmin;
    height: 12vmin;
    border-radius: 50%;
    font-family: "Material Icons";
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vmin;
    margin: 1vmin; }
  div#top_buttons_container a#settings_button:after {
    content: "settings"; }
  div#top_buttons_container span#status {
    font-family: "Material Icons";
    font-size: 8vmin;
    color: yellow;
    flex-grow: 5;
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.5);
    height: 12vmin;
    align-items: center; }

main[data-status='md_ready'] span#status:before,
main[data-status='md_video'] span#status:before {
  content: "directions_run"; }

main[data-status='md_video'] span#status:after {
  content: "lens"; }

main[data-status='halted'] span#status:before {
  content: "videocam_off"; }

main[data-status='ready'] span#status:before {
  content: "videocam"; }

main[data-status='image'] span#status:before {
  content: "insert_photo"; }

main[data-status='video'] span#status:before {
  content: "lens"; }

main[data-status='timelapse'] span#status:before {
  content: "timelapse"; }

@media (orientation: landscape) {
  canvas#preview {
    width: auto;
    height: 100%; }
  div#camera_buttons {
    width: auto;
    left: 0;
    flex-direction: column;
    height: 100%;
    margin: 0 3vmin; } }

