canvas#preview {
	width:90vw;
	margin:5vw;
	border: solid 5px #CCC;
	border-radius:3px;
}
#preview_container {
	display: flex;
	justify-content: center;
	background:#999
}
div#camera_buttons {
	display: flex;
	margin: 0 10vw 0 10vw;
	width: 80vw;
	border-radius: 0 0 15px 15px;

	button {
		border: none;
		background: #999;
		color: #666;
		font-size: 30px;
		padding: 10px 0 6px 0;
		flex-basis: 20%;
		line-height: 1;
		border-radius: 0;
		border: solid 1px #666;
		border-right: none;
	}
	button:first-child {
		border-radius: 0 0 0 15px;
	}
	button:last-child {
		border-radius: 0 0 15px 0;
		border-right: solid 1px #666;
	}
	button#record_button:after {
		content: "videocam";
	}
	button#photo_button:after {
		content: "insert_photo";
	}
	button#timelapse_button:after {
		content: "timelapse";
	}
	button#motion_detect_button:after {
		content: "directions_run";
	}
	button#power_button:after {
		content: "power_settings_new";
	}
	button:after {
		font-family: "Material Icons";
		line-height: 1;
	}
	button.active {
		color: $text_color;
		text-shadow: 0 0 3px $text_color;
		background: $light_text_color;
	}
	button.disable {
		opacity: 0.5;
		pointer-events:none;
	}
}
